
 <script type="text/javascript">
   google.charts.setOnLoadCallback(drawChart<$chartname>);

 function drawChart<$chartname>() {
        var data = google.visualization.arrayToDataTable([
          ['<$axis_x>', '<$axis_y>'],
          <$chartdata>
        ]);

        var options = {
          title: '<$chart_title>',
          titleTextStyle: { color: '#dcc' },
          backgroundColor: '#2B353E',
          hAxis: {title: '<$axis_x>',
                  textStyle: {
                    color: '#dcc'
                  },
                  titleTextStyle: {color: '#dcc'}},
          vAxis: { textStyle: {
                               color: '#dcc' },
                   titleTextStyle: {
                               color: '#dcc' }
          },
          legend: { textStyle: { color: '#dcc' } }
//          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('<$chartname>_div'));
        chart.draw(data, options);
      }
  </script>
  <div id="<$chartname>_div" style="width: 900px; height: 400px;"></div>
